---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { TagsGroup } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreview from '~/components/PostPreview.astro'
import PageHeader from '~/components/PageHeader.astro'
import { formatPagedTitle, uiText } from '~/i18n'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const tagsGroup = await TagsGroup.build()
  const pages = tagsGroup.collations.flatMap((tags) => {
    // Use flatMap to lift the posts for each tag into a single array
    return paginate(tags.entries.reverse(), {
      props: { tagTitle: tags.title },
      params: { tag: tags.titleSlug },
      pageSize: siteConfig.pageSize,
    })
  })
  return pages
}) satisfies GetStaticPaths

const { page, tagTitle } = Astro.props
const pageTitle = formatPagedTitle(`Tags: ${tagTitle}`, page.currentPage)
---

<Layout title={pageTitle} description={uiText.descriptions.taggedPosts(tagTitle)}>
  <div class="mt-2 sm:mt-0">
    <PageHeader title="Tags" subtitle={tagTitle} />
    {page.data.map((post) => <PostPreview post={post} />)}
    <Pagination
      prevLink={page.url.prev ? encodeURI(page.url.prev) : undefined}
      prevText={uiText.common.newerPosts}
      nextLink={page.url.next ? encodeURI(page.url.next) : undefined}
      nextText={uiText.common.olderPosts}
    />
  </div>
</Layout>
